@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&family=Lugrasimo&family=VT323&display=swap');

html,
body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $black;
  // background-size: 10px 10px;
  // background-image: radial-gradient(circle, rgba($black, $alpha: 0.1) 1px, rgba(0, 0, 0, 0) 1px);
  color: $white;
  font-size: 16px;
  line-height: 1.75;
  font-family: 'DM Mono', monospace;
}