.aboutInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  @media (max-width: 700px) {
    padding: 1rem 0;
  }

  .aboutCanvas {
    position: absolute;
    z-index: 1;
  }

  .aboutWave {
    display: inline-block;
    width: 6vw;
    height: 6vw;
    margin: 0 1.5rem;
    @media (max-width: 700px) {
      width: 10vw;
      height: 10vw;
      margin: 0 1rem;
    }
  }

  .aboutH2 {
    display: flex;
    align-items: center;
    z-index: 2;
    margin: 3rem 0;
    font-size: 6vw;
    font-family: 'DM sans';
    font-weight: 800;
    letter-spacing: 0.1rem;
    @media (max-width: 700px) {
      margin: 2rem 0;
      font-size: 7.5vw;
      letter-spacing: 0.1rem;
    }
  }

  .aboutText {
    z-index: 2;
    width: 50vw;
    margin: 0 0 2rem;
    font-size: 1.25rem;
    font-family: 'DM Mono';
    line-height: 1.75;
    @media (max-width: 700px) {
      width: 75vw;
    }
  }

  .resumeButton {
    fill: $white;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 2rem 0 3rem;
    padding: 1rem 1.5rem;
    transition: border-radius 0.1s linear, background-color 0.1s linear, color 0.1s linear;
    background-color: $black;
    cursor: pointer;
    border: $white 2px solid;
    border-radius: 0;
    font-size: 1rem;
    font-family: 'DM Mono';
    color: $white;
    text-decoration: none;
    &:hover {
      border-radius: 15px;
    }

    &:active {
      fill: $black;
      background-color: $white;
      color: $black;
    }
  }
  
  .resumeSVG {
    fill: inherit;
    margin: 0 0.5rem 0 0;
  }

  .emojiSpot {
    transition: background-color 0.1s linear;
    background-color: rgba($white, 0.1);
  }
}