.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  color: $white;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuBtn {
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem;
    background: none;
    cursor: pointer;
    border: none;
    font: inherit;
    color: $white;
    &:nth-child(2) {
      margin: 0 0 0 auto;
      @media (max-width: 700px) {
        margin: 0;
      }
    }
  }

  .textLogo {
    font-size: 2.5rem;
    font-family: 'VT323', monospace;
    @media (max-width: 700px) {
      font-size: 2rem;
    }
  }
}