.container {
  z-index: 99;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  color: $white;
}

.textLogo {
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  line-height: 0;
}