.heroSection {
  position: relative;
  box-sizing: border-box;
  height: 95vh;
  @media (max-width: 700px) {
    height: 70vh;
  }

  .gradientBG {
    position: absolute;
    top: -5vh;
    transform: translateY(5vh);
    width: 100%;
    height: 100vh;
    background-color:hsla(207,100%,50%,1);
    background-image:
    radial-gradient(at 94% 91%, hsla(200,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 16% 7%, hsla(200,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 32%, hsla(125,89%,65%,1) 0px, transparent 50%),
    radial-gradient(at 25% 67%, hsla(200,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 52% 62%, hsla(189,75%,74%,1) 0px, transparent 50%),
    radial-gradient(at 89% 53%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 97% 5%, hsla(340,100%,76%,1) 0px, transparent 50%);
    @media (max-width: 700px) {
      height: 75vh;
    }
  }

  .cropBox {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .stars {
    position: absolute;
    z-index: 1;
    top: 50%;
    opacity: 0;
    transform: translate(0, -50%);
    width: 40%;
    height: auto;
    &R {
      right: -40px;
    }
  
    &L {
      left: -40px;
    }
  }
  
  .aiProfilePic {
    position: relative;
    z-index: 2;
    opacity: 0;
    width: auto;
    height: 105%;
  }
}