.hypnoMarqueeSection {
  display: flex;
  justify-content: center;
  height: 20vh;
  background: repeating-radial-gradient(
    circle at var(--hypno),
    $black,
    $black 3vw,
    $white 3vw, 
    $white 6vw
  );
  cursor: var(--cursor);
  font-size: 5rem;
  font-family: $fancy;
  font-weight: 800;
  @media (max-width: 700px) {
    height: 10vh;
    font-size: 2rem;
  }

  .hypnoMarquee {
    mix-blend-mode: difference;
    pointer-events: none;
    overflow: hidden;
    .hypnoMarqueeText {
      padding: 0 5vw;
    }
  }
}